<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />

    <title>yappari.pl</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>yappari.pl</h1>
        </header>

        <section id="menu" class="clearfix">
          <a href="/index.html" class="button"><span>Home</span></a>
          <a href="/blog.html" class="button"><span>Blog</span></a>
          <a href="/about.html" id="last-menu-button" class="button"><span>O nas</span></a>
        </section>

        <hr>

        <section id="main_content">

        <!--
            FIXME: poniższe wywołanie funkcji 'replace' jest potrzbne
            ponieważ, textile wstawia <br /> w środku paragrafów, jeśli
            napotka w pliku źródłownym znak nowej linii, ale oczywiście
            to rozwiązanie jest kiepskie...
        -->
        {{ content | replace:'<br />',''}}

        </section>

        <footer>
          Derived from Tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
        </footer>

      </div>
    </div>
  </body>
</html>
